@font-face{
    font-family:'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype'); 
}
@font-face{
    font-family:'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}
body{
    font-family: 'Poppins-Regular';
}

/******** 
  header
*********/

.bloc-header{
    background-color:#0068b4;
    padding:20px;
}
.bloc-header h2{
    color: white;
    text-align:left;
}
.link{
    display:none;
}

/******** 
article profile 
*********/

.profil{
    text-align: center;
    padding:30px 10px;
}

h1{
    font-family:'Poppins-Medium';
}

h2{
    color:#0068b4;
    text-align: center;
}
.photo {
    margin-bottom:20px;
}
.photo img{
    border-radius:100px;
    box-shadow:4px 4px 6px #888;
}

/*********
proprite comun
**********/

.proprity-cumun1{
    background-color:#0068b4;
    color:white;
    padding:40px 10px;
}
.proprity-cumun2{
    padding:  40px 10px;
}

.bloc-présentation h2,.bloc-formation h2{
    color:white;
    margin-bottom:50px;
}
.bloc-experience h2, .bloc-passion h2{
    margin-bottom:50px;
}

/********
article presentation
*********/

.experience{
    font-weight: bold;
}
.date{
    float:right;
    overflow:hiden;
}

/********
bloc footer
*********/

.bloc-footer div{
    margin-left:20px;
    margin-bottom:20px;
}
.bloc-footer div a{
    display:block;
    color:white;
    padding:5px;
}
.bloc-footer div a i{
    margin-right:5px;
}

@media screen and (min-width: 900px)  {
    /******** 
      le nouveau taille de main
    *********/
    .container{
        width:70%;
        max-width:900px;
        margin-left:auto;
        margin-right:auto;
    }
    /******** 
      header
    *********/
    .bloc-header{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:flex-start;
    }
    .link{
        display:inline-block;
    } 
    .link ul{
        margin-top:28px;
        margin-left:0;
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:flex-start;
    }
    .link ul li{
        list-style:none;
        margin-left:20px;
    }
    .link ul li a{
        text-decoration:none;
        color:white;
    }
    /******** 
    article profile
    *********/
    .display{
        text-align:none;
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-around;
    }
    /******** 
    tout les titre h2 dans les articles
    *********/
    .bloc-présentation h2,.bloc-formation h2, .bloc-experience h2, .bloc-passion h2{
        text-align:left; 
    }
    /******** 
      footer
    *********/
    .bloc-footer div{
        display:inline-block;
    }
    .bloc-footer .médias-sociaux{
        margin-left:300px;
    }
        
}


